<header>
<!--  <h1>{{i18n_devices_title}}</h1>-->
  <h1>Statistic</h1> 
</header>
<div class='content'>
    <div id="nav">
      <a id="today">Today</a>
      &nbsp;|&nbsp;
      <a id="yesterday">Yesterday</a>
      &nbsp;|&nbsp;
      <a id="thisweek">This Week</a>
      &nbsp;|&nbsp;
      <a id="prevweek">Previous Week</a>
      &nbsp;|&nbsp;
      <a id="average">Average</a>
      &nbsp;|&nbsp;
      <a id="all">All Time</a>
    </div>
    <div style="clear:both"></div>
    <div id="data">
      <span id="nodata">Start browsing to collect usage data.</span>
      <div id="chart_div"></div>
      <div id="table_div"></div>
    </div>	
</div>


